*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar{
  width: 100%;
  height: 10vh;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer{
  width: 100%;
  height: 10vh;
  background: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.book-list{
  width: 100%;
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
}
.book{
  text-align: center;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

img{
  width: 300px;
  height: 300px;
  
}
img:hover{
  transform:scale(1.1);
}

button{
  padding: 10px;
  background: black;
  color: white;
  width: 300px;
  border-radius: 10px;
}

a{
  color:white;
  text-decoration: none ;
}

.favorites{
  width: 100%;
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
}
.book-details{
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: space-evenly;
  
  text-align: left;
  padding: 10px;

}
.book-poster{
  margin: 10px 20px;
}

.book-description{
  margin:0 10px;
}